<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- CHARTJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

    
    <title>{{title}}</title>
    
</head>
<body>
    
    {% include 'navbar/index.html'   %}

    <div class="container-fluid">

        <div class="row">
            <h1 style="white-space: nowrap;">Fermentadores</h1>

            <div class="col-sm-6 col-xl-4 text-center" style="white-space: nowrap;">
                <div id="listaFermentadores" class="list-group mt-3" style="overflow-y: scroll; max-height: calc( 100vh - 190px )"></div>
            </div>

            <div class="col-sm-6 col-xl-8">
                <div class="card mb-3 mt-3">
                    <div class="card-body" id="chart-container">

                        <div class="text-center">
                            <p class="h2" id="nome_clone">
                                Olá Mundo
                            </p>
                        </div>

                        <style>
                            tr:nth-child(even){background-color: #B0C4DE;}
                            tr:nth-child(odd){background-color: #ffffff;}
                        </style>
                        <table>
                            <tr>
                                <th>01</th>
                                <th>02</th>
                            </tr>
                            <tr>
                                <td>Joao</td>
                                <td>38546</td>
                            </tr>
                        </table>
                        
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" for="ciclopicker">Ciclo</label>
                            <select class="form-select" id="ciclopicker">
                                <option selected>Ciclo...</option>
                            </select>
                        </div>
                        
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Data</span>
                            <input type="date" class="form-control" id="datapicker">
                        </div>
                        
                        <script>
                            $(document).ready(function () {

                                listarFermentadores()

                                var labels;
                                var temp;
                                var ph;
                                var brix;
                                let Mychart;

                                $("#listaFermentadores").on("click", ".list-group-item", function(){
                                    $('#ciclopicker').empty();
                                    listarCiclos($(this).val());
                                });

                                $('#ciclopicker').on('change', function(){
                                    console.log( $(this) );
                                    // listarHistorico($('#ciclopicker').val())
                                });

                                function listarHistorico(id_ciclo){
                                    $.ajax({
                                       type: 'POST',
                                       url: '/get/all/historico/ciclo/'+id_ciclo,
                                       dataType: 'JSON',
                                       async: false,
                                       success: function(data){
                                        console.log(data);
                                       }
                                    });
                                }

                                function listarCiclos(id_fermentador){
                                    $.ajax({
                                        type: 'POST',
                                        url: '/get/all/ciclo/fermentador/'+id_fermentador,
                                        dataType: 'JSON',
                                        async: false,
                                        success: function(data){
                                            if(data.length > 0){
                                                $('#ciclopicker').attr('disabled',false)
                                                $.each(data, function(index, data){
                                                    $('#ciclopicker').append('<option id='+data.id+'>'+data.nome_ciclo+'</option>')
                                                });
                                            }else{
                                                $('#ciclopicker').attr('disabled','disabled')
                                                $('#ciclopicker').append("<option selected disabled>Não há ciclo</option>")
                                            }
                                        }
                                    })
                                }

                                function listarFermentadores(){
                                    $.ajax({
                                        type: 'POST',
                                        url: '/get/all/fermentador',
                                        dataType: 'JSON',
                                        async: false,
                                        success: function(data){
                                            $.each(data, function(index, data){
                                                $('#listaFermentadores').append('<button type="button" class="list-group-item list-group-item-action" value='+data.id+'>'+data.fermentador+'</button>')
                                            })
                                        }
                                    })
                                }

                            });
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>